<table class="table">
  <thead>
    <tr>
      <th scope="col">Phòng</th>
      <th scope="col">Tổng Doanh Thu</th>
      <th scope="col">Tỉ lệ</th>
    </tr>
  </thead>
  <tbody>
      {{#each data}}
    <tr>
      <td>{{this._id}}</td>
      <td>{{this.TongDoanhThu}}</td>
      <td>{{this.TiLe}}%</td>
    </tr>
    {{/each}}
  </tbody>
</table>