<table class="table">
  <thead>
    <tr>
      <th scope="col">Phòng</th>
      <th scope="col">Loại phòng</th>
      <th scope="col">Đơn giá</th>
    </tr>
  </thead>
  <tbody>
      {{#each data}}
    <tr>
      <td>{{this.Phong}}</td>
      <td>{{this.LoaiPhong}}</td>
      <td>{{this.DonGia}}</td>
      <td>
          <a href="booking/makeBookingNote/{{this.Phong}}" type="button" class="btn btn-primary w-md waves-effect waves-light">Book</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>