<div class="danhmuc">
    <div class="item_dm">
        <img src="assets/images/sangtrong.jpg" alt="">
        <br>
        <h4>Sang trọng</h4>
    </div>
    <div class="item_dm">
        <img src="assets/images/quyphai.jpg" alt="">
        <br>
        <h4>Quý phái</h4>
    </div>
    <div class="item_dm">
        <img src="assets/images/tiennghi.jpg" alt="">
        <br>
        <h4>Tiện nghi</h4>
    </div>
    <div class="item_dm">
        <img src="assets/images/tantam.jpg" alt="">
        <br>
        <h4>Tận tâm</h4>
    </div>
</div>
</div>
<div class="footer">
    <img src="assets/images/hotelLogo.png" alt="">
    <div class="infor">
        <h5>
            Khách sạn Sai Gon Hotel
        </h5>
        <p>7766 Lê Lai, Phường Bến Thành, Quận 1, Thành phố Hồ Chí Minh</p>
    </div>
</div>